.container {
	background-image: url(../../assets/images/Beastlink-College.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-gap: 25px;
}

.formContainer {
	grid-column: 2;
	margin: 20px;
	padding: 2rem;
	max-width: 700px;
	background-color: #f9f9f9;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.heading {
	text-align: center;
	font-size: 2rem;
	color: #07362c;
	margin-bottom: 1rem;
}

/*For toggle*/
.radioContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.tabs {
	position: relative;
	display: flex;
	background: #fff;
	border-radius: 999px;
	border: 2px solid #0b5f4e;
	padding: 2px;
}

.radioInput {
	display: none;
}

.tabLabel {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 48px;
	font-size: 1.1rem;
	font-weight: 500;
	color: #222;
	border-radius: 999px;
	cursor: pointer;
	transition: color 0.2s, background 0.2s;
	background: transparent;
}

.radioInput:checked + .tabLabel {
	color: #fff;
	background: #07362c;
}

/* Responsive */
@media (max-width: 500px) {
	.tabLabel {
		width: 160px;
		height: 40px;
		font-size: 1rem;
	}
}
.input {
	display: block;
	padding: 0.8rem;
	color: #000;
	background-color: #c7c7c7;
	border: 3px solid #c7c7c7;
	border-radius: 4px;
	width: 650px;
	margin: 1rem 0;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.input:focus {
	outline: none;
	border: 3px solid #10e4af;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #dcfef7 inset !important;
	-webkit-text-fill-color: #000 !important;
}

.button {
	background-color: #07362c;
	color: #fff;
	padding: 0.8rem 1.5rem;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 1rem;
	width: 100%;
	margin-top: 1rem;
}

.button:hover {
	background-color: #0b5f4e;
}
.error {
	color: #ff4d4d;
	font-size: 0.9rem;
	margin-top: 0;
	text-align: left;
}
